@use 'abstracts/shared' as *;

.app-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "sidebar footer";

  &__nav {
    grid-area: navbar;
    position: sticky;
    top: 0;
    color: $color-text-primary;
    padding: $spacing-md;
    z-index: $z-navbar;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    border-bottom: 1px solid $color-divider-light;
  }

  &__aside {
    grid-area: sidebar;
    overflow-y: auto;
  }

  &__main {
    grid-area: main;
    padding: 0 $spacing-md;
    background: $color-bg-body;
    overflow-y: auto;
    height: calc(100vh - 110px); // Optionally token this too
  }

  &__footer {
    grid-area: footer;
    background-color: $color-bg-footer;
    padding: $spacing-md;
  }
}

// Sidebar
.sidebar-wrapper {
  background-color: $color-bg-sidebar;
  height: calc(100vh - 75px); // optional variable
  color: $color-text-light;
  font-family: $font-family-sans;
  padding-top: $spacing-vs;
  overflow-y: auto;

  &__logo {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $color-text-light;
    padding: $spacing-md;
    border-bottom: 2px solid $color-divider-heavy;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: $spacing-sm $spacing-lg;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      margin-right: $spacing-sm;
      font-size: 1.8rem;
    }

    &:hover {
      background-color: $color-bg-hover;
    }

    &--has-sub .sidebar-wrapper__badge {
      margin-left: auto;
      background-color: $color-success;
      padding: 2px 6px;
      border-radius: $radius-sm;
      font-size: $font-size-xs;
    }
  }

  &__divider {
    text-transform: uppercase;
    font-size: $font-size-xs;
    padding: $spacing-sm $spacing-lg;
    background-color: $color-primary-dark;
    font-weight: $font-weight-bold;
  }

  &__sub {
    background-color: $color-secondary;
    font-size: $font-size-sm;
    padding: $spacing-sm $spacing-lg;
    display: flex;
    align-items: center;

    &--active {
      background-color: $color-primary-dark;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 8px;
        background-color: $color-text-light;
      }
    }

    &--dark {
      background-color: $color-sidebar-sub-dark;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__badge {
    margin-left: auto;
    background-color: $color-success;
    padding: 2px 6px;
    border-radius: $radius-sm;
    font-size: $font-size-xs;
  }
}
